{% extends '../../base.html' %}
{% load static %}
{% block script %}
<link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}" />
<script src="{% static '/js/script.js' %}" ></script>
{% endblock script %} 
{% block content %}
<div class="content py-2 pt-4" style="margin-top: 1.8rem">
    <div class="d-flex align-items-center justify-content-center m-auto my-2 bg-transparent text-dark">
        <img class="header-img" src="{{ headers.image }}"/>
        <h4>{{ headers.text }}</h4>
    </div>

    {% if messages %}
    <div class="container px-0 py-0">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if questions|length > 0 %}
    <div class="mt-0 px-0">
        <div class="d-flex justify-content-center py-1">
            <button class="btn btn-dark btn-sm border-0 px-0" disabled style="width: 120px; margin-right: 10px">
                <i class="fa-solid fa-file-lines"></i>
                Total:  {{ questions.paginator.count }}
            </button>
            <button class="btn btn-dark btn-sm border-0 px-0" disabled style="width: 120px; margin-right: 10px">
                <i class="fa-solid fa-hashtag fa-xs"></i>
                 {{ questions.start_index }} - {{ questions.end_index }}
            </button>
        </div>
        <div class="d-flex justify-content-center">
            <form method="get">
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm">
            {% if questions.has_previous %}
                <!-- <li class="page-item"><a class="page-link" href="?page=1">First</a></li> -->
                <li class="page-item">
                    <button class="btn btn-light text-dark btn-sm page-link" type="submit" name="page" value="{{ questions.previous_page_number }}" style="width: 70px">Previous</button>
                </li>
            {% endif %}
            {% for num in questions.paginator.page_range %}
                {% if questions.number == num %}
                <li class="page-item active">
                    <button class="btn btn-dark text-light btn-sm" type="submit" name="page" value="{{ num }}" disabled>{{ num }}</button>
                </li>
                {% else %}
                <li class="page-item"><button class="btn btn-light text-dark btn-sm page-link" type="submit" name="page" value="{{ num }}">{{ num }}</button></li>
                {% endif %}
            {% endfor %}
            {% if questions.has_next %}
                <li class="page-item">
                    <button class="btn btn-light text-dark btn-sm page-link" type="submit" name="page" value="{{ questions.next_page_number }}" style="width: 70px">Next</button>
                </li>
                <!-- <li class="page-item"><a class="page-link" href="?page={{ questions.paginator.num_pages }}">Last</a></li> -->
            {% endif %}
                </ul>
            </nav>
            </form>
        </div>
    </div>
    <div class="text-justify px-0 py-0 rounded-0">
        <table class="text-justify table table-striped">
            <thead>
                <tr class="bg-secondary text-light rounded-top">
                    <th width="5%" class="align-middle">
                        <form class="text-center" action="/data/question/new" method="post">{% csrf_token %}
                            <button type="submit" class="btn btn-light btn-sm px-0 py-0" style="width:24px; height:24px" alt="Add New" title="Add New"><i class="fa-solid fa-plus fa-xs"></i></button>
                        </form>
                    </th>
                    <th width="25%" class="align-middle">Section</th>
                    <th class="align-middle">Question</th>
                    <th width="15%" class="align-middle text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for one in questions %}
                <form action="question/action" method="post">{% csrf_token %}
                    <tr class="align-middle">
                        <td class="text-center">{{ one.question_id }}</td>
                        <td>{{ one.section_id }}. {{ one.section.section_text }} </td>
                        <td>{{ one.question_text }} </td>
                        <td class="text-center">
                            <input type="hidden" name="question_id" value="{{ one.question_id }}">
                            <button type="submit" name="action" value="edit" class="btn btn-outline-dark btn-sm"><i class="fa-regular fa-pen-to-square"></i></button>
                            <button type="submit" name="action" value="delete" class="btn btn-outline-dark btn-sm"><i class="fa-regular fa-trash-can"></i></button>
                        </td>
                    </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}