html {
    font-size: 0.9rem;
}

td {
    font-size: 0.85rem;
    padding: 2px;
}

th {
    padding: 4px;
}

label {
    padding-right: 30px;
}

.btn-sm {
    width: 80px;
}

.btn {
    width: 32px;
    height: 32px;
}

.contents {
    padding-top: 1.8rem;
}

.header-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #555;
    margin: 0px 0px 0px 0px;
}

#header {
    position: sticky;
    top: 0;
}

.form-control:focus,
.form-select:focus {
    border-color: rgba(108, 117, 125, 1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(108, 117, 125, 0.6);
}

.form-check-input:checked {
    background-color: #6c757d !important;
    border: 0;
}

.form-check-input:focus,
.label::after,
label.form-check-label:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem #6c757d !important;
}

.dropdown-item:hover {
    background-color: #6c757d;
    color: white;
}



/* .table_picture, .map_picture {
    margin: auto;
  }
  
  .table_picture img, .map_picture img {
    width: 50%;
  }
  
  .table_picture td {
    padding: 5px;
    text-align: center;
    font-weight: bold;
  } */

.picture_source {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 600px;
}

.picture_source img {
    width: 600px;
}

.picture_text {
    text-align: center;
    width: 600px;
    padding: 5px 10px 5px 10px;
    margin: 0px auto 10px auto;
    color: white;
    background-color: black;
}

.picture_source_sm img {
    width: 120px;
}

.picture_source_sm img {
    width: 120px;
}

.picture_text_sm {
    text-align: center;
    width: 120px;
    padding: 5px 10px 5px 10px;
    margin: 0px auto 10px auto;
    color: white;
    background-color: black;
}
