{% load static %} 
{% load mcq_filters %} 
<!-- // Chapter 1 -->
                <section>
                    {% include "./chapter/section_1.html" %} 
                </section>
                <hr class="seperator-two" />
                <!-- // Chapter 2 -->
                <section>
                    {% include "./chapter/section_2.html" %}
                    <!-- <hr class="seperator-one" /> -->
                </section>
                <hr class="seperator-two" />
                <!-- // Chapter 3 -->
                <section>
                    {% include "./chapter/section_3.html" %}
                    <!-- <hr class="seperator-one" /> -->
                </section>
                <hr class="seperator-two" />
                <!-- // Chapter 4 -->
                <section>
                    {% include "./chapter/section_4.html" %}
                    <!-- <hr class="seperator-one" /> -->
                </section>
                <hr class="seperator-two" />
                <!-- // Chapter 5 -->
                <section>
                    {% include "./chapter/section_5.html" %}
                    <!-- <hr class="seperator-one" /> -->
                </section>

