{% load static %} 
{% load mcq_filters %} 
<div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2">
    <ul class="list-unstyled">
        <li>
            <a href="#chapter1" class="nav-link chapter" onclick="toggleSubList('chapter1')">Chapter 1: Values and Principles of the UK</a>
            <ul class="nav-sub-list" id="chapter1" style="display: none">
                <li><a class="section" href="#section1_1">1.1 Becoming a Permanent Resident</a></li>
                <li><a class="section" href="#section1_2">1.2 Taking the Life in the UK Test</a></li>
            </ul>
        </li>
        <li>
            <a href="#chapter2" class="nav-link chapter" onclick="toggleSubList('chapter2')">Chapter 2: What is the UK?</a>
            <ul class="nav-sub-list" id="chapter2" style="display: none"></ul>
        </li>
        <li>
            <a href="#chapter3" class="nav-link chapter" onclick="toggleSubList('chapter3')">Chapter 3: A Long and Illustrious History</a>
            <ul class="nav-sub-list" id="chapter3" style="display: none">
                <li><a class="section" href="#section3_1">3.1 Early Britain</a></li>
                <li><a class="section" href="#section3_2">3.2 The Middle Ages</a></li>
                <li><a class="section" href="#section3_3">3.3 The Tudors and Stuarts</a></li>
                <li><a class="section" href="#section3_4">3.4 A Global Power</a></li>
                <li><a class="section" href="#section3_5">3.5 The 20th Century</a></li>
                <li><a class="section" href="#section3_6">3.6 Britain Since 1945</a></li>
            </ul>
        </li>
        <li>
            <a href="#chapter4" class="nav-link chapter" onclick="toggleSubList('chapter4')">Chapter 4: A Modern, Thriving Society</a>
            <ul class="nav-sub-list" id="chapter4" style="display: none">
                <li><a class="section" href="#section4_1">4.1 The UK Today</a></li>
                <li><a class="section" href="#section4_2">4.2 Religion</a></li>
                <li><a class="section" href="#section4_3">4.3 Customs and Traditions</a></li>
                <li><a class="section" href="#section4_4">4.4 Sport</a></li>
                <li><a class="section" href="#section4_5">4.5 Arts and Culture</a></li>
                <li><a class="section" href="#section4_6">4.6 Leisure</a></li>
                <li><a class="section" href="#section4_7">4.7 Places of Interest</a></li>
            </ul>
        </li>
        <li>
            <a href="#chapter5" class="nav-link chapter" onclick="toggleSubList('chapter5')">Chapter 5: The UK Government, the Law and your Role</a>
            <ul class="nav-sub-list" id="chapter5" style="display: none">
                <li><a class="section" href="#section5_1">5.1 The Development of British Democracy</a></li>
                <li><a class="section" href="#section5_2">5.2 The British Constitution</a></li>
                <li><a class="section" href="#section5_3">5.3 The Government</a></li>
                <li><a class="section" href="#section5_4">5.4 The UK and International Institutions</a></li>
                <li><a class="section" href="#section5_5">5.5 Respecting the Law</a></li>
                <li><a class="section" href="#section5_6">5.6 The Role of the Courts</a></li>
                <li><a class="section" href="#section5_7">5.7 Fundamental Principles</a></li>
                <li><a class="section" href="#section5_8">5.8 Taxation</a></li>
                <li><a class="section" href="#section5_9">5.9 Driving</a></li>
                <li><a class="section" href="#section5_10">5.10 Your Role in the Community</a></li>
                <li><a class="section" href="#section5_11">5.11 How you can Support your Community</a></li>
                <li><a class="section" href="#section5_12">5.12 Looking After the Environment</a></li>
                <li></li>
                <li></li>
            </ul>
        </li>
    </ul>
</div>