{% extends '../../base.html' %}
{% load static %}
{% load mcq_filters %}
{% block script %}
<link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '/css/quiz.css' %}" />
<script type="text/javascript" src="{% static '/js/script.js' %}"></script>
{% endblock script %}
{% block content %}
<script type="text/javascript" src="{% static '/js/quiz.js' %}"></script>
<div class="content py-2 pt-4" style="margin-top: 1.8rem">
    <div class="mt-2 px-0 py-2">
        {{ picture.picture_id }}<br>
        {{ picture.picture_prefix }}<br>
        {{ picture.picture_filename }} <br>
        {{ picture.picture_description }} <br>
        {{ picture.picture_size }} <br>
        <img src="data:image/png;base64,{{ picture.picture_blob|encode_base64  }}">
    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}