{% extends '../base.html' %} 
{% load static %} 
{% load mcq_filters %} 

{% block content %}
<div class="content py-0 pt-4" style="margin-top: 1.8rem">
    <div class="jumbotron jumbotron-fluid text-white text-center jumbotron-bg">
        <div class="banner bg-dark text-light p-5">
            <h1 class="display-4">Welcome to the Life in the UK Test</h1>
            <p class="lead">Prepare for your test with our comprehensive question bank and study resources.</p>
            <hr class="my-4" />
            <p>Get ready for your test with our extensive question bank and study resources.</p>
            <a class="btn btn-light btn-lg" style="width: 150px; height: 45px" href="/data/quiz" role="button">Learn more</a>
        </div>
    </div>
</div>
{% endblock content %}
